
.vs/ZakupowoMobile/DesignTimeBuild/.dtbcache.v2
.vs/ZakupowoMobile/v16/.suo
ZakupowoMobile/ZakupowoMobile.Android/obj/Debug/90/ZakupowoMobile.Android.csprojAssemblyReference.cache
ZakupowoMobile/ZakupowoMobile.iOS/bin/iPhone/Debug/ZakupowoMobile.dll
ZakupowoMobile/ZakupowoMobile.iOS/bin/iPhone/Debug/ZakupowoMobile.iOS.exe
ZakupowoMobile/ZakupowoMobile.iOS/bin/iPhone/Debug/ZakupowoMobile.iOS.exe.mdb
ZakupowoMobile/ZakupowoMobile.iOS/bin/iPhone/Debug/ZakupowoMobile.iOS.pdb
ZakupowoMobile/ZakupowoMobile.iOS/bin/iPhone/Debug/ZakupowoMobile.pdb
ZakupowoMobile/ZakupowoMobile.iOS/obj/iPhone/Debug/ZakupowoMobile.iOS.csprojAssemblyReference.cache
ZakupowoMobile/ZakupowoMobile.iOS/obj/iPhone/Debug/ZakupowoMobile.iOS.exe
ZakupowoMobile/ZakupowoMobile.iOS/obj/iPhone/Debug/ZakupowoMobile.iOS.pdb
ZakupowoMobile/ZakupowoMobile/obj/Debug/netstandard2.0/ZakupowoMobile.csprojAssemblyReference.cache
